<div class="panel-group"> 
    <div class="panel panel-primary">
        <div class="panel-heading">
            Prouct
        </div>
        <div class="panel-body">
            <div class="row">
                    <div class="col-md-2"><span>Filter By</span> </div>
                    <div class="col-md-2">
                        <input type="text" placeholder="Enter Product Name">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" name="Search" title="Search" onclick=""> Search</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
        <div class="row">
            <div class="col-row-2">
                    Number of product filters
            </div>
        </div>
        <div class="table-responsive">
            <div class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Books</td>
                        <td>12.00</td>
                    </tr>
                    <tr>
                        <td>Sheets</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
    </div>

 
</div>